@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:700|Montserrat+Alternates');

/* font-family: 'Montserrat Alternates',
sans-serif;
font-family: 'Alegreya Sans SC',
sans-serif; */

.font1 {
    font-family: 'Montserrat Alternates',
        sans-serif;
}

.font2 {
    font-family: 'Alegreya Sans SC',
        sans-serif;

}

#side-nav,
#side-modal {
    width: 100px;
}

#side-nav a,
#side-modal a {
    padding-left: 10px;
    padding-right: 10px;
}

#side-nav {
    transform: translateX(0%) !important;
}

.logo-pic {
    position: relative;
    right: 25px;
    height: 100px;
}

#para-pic {}

#logo-side {
    width: 100%;
    padding: 20px;
}

#logo-top {
    height: 60px;
    padding: 10px;
}

nav {
    height: 60px;
}

#test-cont {
    height: 2000px;
}

#top-nav {
    display: block;
}

#side-nav {
    display: none;
    transform: translateX(0%) !important;
}

.main-container {
    margin-left: 0px;
}

.parallax-container {
    height: 250px;
}

.logo-pic {
    position: relative;
    right: 25px;
    height: 100px;
    display: none;
}

@media only screen and (min-width: 600px) {
    #top-nav {
        display: none;
    }

    #side-nav {
        display: block;
    }

    .main-container {
        margin-left: 100px;
    }

    .parallax-container {
        height: 500px;
    }

    .logo-pic {
        display: inline;
    }
}