@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:700|Montserrat+Alternates');

/* font-family: 'Montserrat Alternates',
sans-serif;
font-family: 'Alegreya Sans SC',
sans-serif; */

/* my colors

light green: #8dc63f
middle green: #2bb673
blue: #27aae1 */


/* Portfolio fonts and colors */

body {
    /* background-color: #f5f4f0; */
    /* background-color: #fffef7; */
    /* background-color: #212121; */
}

.font1 {
    font-family: 'Montserrat Alternates',
        sans-serif;

}

.font2 {
    font-family: 'Alegreya Sans SC',
        sans-serif;


}

.dom-green1 {
    background-color: #8dc63f
}

.dom-green1-dark {
    background-color: #5d832b;
}

.dom-green2 {
    background-color: #2bb673
}

.dom-blue {
    background-color: #27aae1
}

.dom-green1-text {
    color: #8dc63f
}

.dom-green2-text {
    color: #2bb673
}

.dom-blue-text {
    color: #27aae1
}

.spacer {
    height: 50px;
}

.spacer-large {
    height: 100px;
}

p {
    line-height: 150%;
}

.portfolio-btn:hover {
    background-color: #212121 !important;
    color: #8dc63f;
}

.portfolio-btn:focus {
    background-color: #212121 !important;
    color: #8dc63f;
}

.contact-btn:hover {
    background-color: #212121 !important;
    color: #27aae1;
}

.contact-btn:focus {
    background-color: #212121 !important;
    color: #27aae1;
}

.divider {
    border-top: 2px solid grey;
    margin-bottom: 20px;
}

/* Navbar Styles */

#side-nav,
#side-modal {
    width: 100px;
}

#side-nav a,
#side-modal a {
    padding-left: 10px;
    padding-right: 10px;
}

#side-modal {
    background-image: url("../images/dom-gradient.jpg");
    background-size: cover;
}

#side-nav {
    transform: translateX(0%) !important;
}

.logo-pic {
    position: relative;
    right: 25px;
    height: 100px;
}

#logo-side {
    width: 100%;
}

#logo-side-a {
    height: 60px;
    margin: 30px 20px 10px 20px !important;
    padding: 0px !important;
}

#logo-top {
    height: 60px;
    padding: 10px;
}

nav {
    height: 60px;
}

#top-nav {
    display: block;
}

#side-nav {
    display: none;
    transform: translateX(0%) !important;
}

.table-of-contents a.active {
    font-weight: 500;
    padding-left: 18px;
    border-right: 5px solid #8dc63f;
    color: #8dc63f !important;
    border-left: none;
}

.table-of-contents a:hover {
    font-weight: 500;
    padding-left: 18px;
    border-right: 5px solid #27aae1;
    color: #27aae1 !important;
    border-left: none;
}

/* Logo link styles */
.logo-link {
    height: 40px;
    margin-left: 25px;
    margin-right: 25px;
}

.logo-link:hover {
    animation: grow .3s;
    animation-iteration-count: 1;
    transform: translate(0px, -5px) scale(1.2);
    
}

.pad-5 {
    padding: 10px;
}

/* Portfolio Styles */
#portfolio img {
    width: 100%;
}

#p-list li {
    line-height: 150%;
}

#move {
    padding-right: 10px;
}

#info-pics img {}

.carousel {
    height: 300px;
}

.carousel .indicators .indicator-item {
    height: 8px;
    width: 8px;
    margin: 24px 4px;
    background-color: #212121;
    border-radius: 50%;
}

.carousel .indicators .indicator-item.active {
    background-color: #8dc63f;
}

.paint-pic:hover {
    cursor: pointer;
    animation: grow .3s;
    animation-iteration-count: 1;
    transform: translate(0px, -5px) scale(1.2);
}

/* About Styles */
.tool-pic {
    width: 50px;
}

.int-logo {
    width: 80px;
    margin-top: 10px;
    margin-bottom: 15px;
}

/* Contact Styles */
#message {
    height: 200px;
    border: 1px solid lightgrey;
}

.contact-link:hover {
    color: #27aae1 !important;
}

/* Media query changes */
.main-container {
    margin-left: 0px;

}

.parallax-container {
    height: 400px;
}

.logo-pic {
    position: relative;
    right: 25px;
    height: 100px;
    display: none;
}

#materialbox-overlay {
    opacity: .8 !important;
}

#para-pic {}

@media only screen and (min-width: 600px) {

    #top-nav,
    #top-nav-container {
        display: none;
    }

    #side-nav {
        display: block;
    }

    .main-container {
        margin-left: 99px;
    }

    .parallax-container {
        height: 500px;
    }

    .logo-pic {
        display: inline;
    }

    .logo-link {
        height: 60px;
    }

    #move {
        padding-right: 18px;
    }
}

@keyframes grow {
    0%{ transform: translate(0px, 0px) scale(1.0)}
    100%{ transform: translate(0px, -5px) scale(1.2)}
}